// Colors Settings
//--------------------------------------------

$text-color: #1c1c1c;
$content-bg: #ffffff;
$dark-bg: #252525;
$action-bg: #e34a3a;
$subtitle-bg: #ebebeb;
$tagsbg: #c7ccd4;

$alertColor: #eee0b7;
$codeColor: #080a11;
$consoleColor: #323642;

// Reset
//--------------------------------------------
* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}
}

input, textarea {
	&:focus {
		border: none;
		outline: none;
	}
}

// Containers
//--------------------------------------------

.center {
	margin: 0 auto;
}

.container {
	width: 960px;
}

.column {
	width: 6%;
	max-width: 200px;
	margin: 0px 5px;
}

// Typography, Paragraphs.
//--------------------------------------------

* {
	font-size: 1em;
}



h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

code {
	background: $codeColor;
	color: #fff;
	padding: 20px;
	display: block;
	border-radius: 5px;
}

// Buttons
//--------------------------------------------

.btn {
	padding: 10px 50px;
	display: inline-block;
	color: #fff;
}

.article-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
	-webkit-transition: all 0.6s ease;
	-webkit-transform-style: preserve-3d;
	-moz-transition: all 0.6s ease;
	-moz-transform-style: preserve-3d;
  	-o-transition: all 0.6s ease;;
	-o-transform-style: preserve-3d;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
	
	  &:active {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	  }
}