!!!
%html
	%head
		%title Icalia Wiki
		%meta{:charset => "utf-8"}
		%link{:rel => "stylesheet", :href => "style.css"}
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
	%body
		.header
			.container.center
				%a.logo{:href => "index.html"}
					%img{:src => "img/logo.png"}
				%nav.header-menu
					%a#login{:href => "#"} Entrar
					.search-box
						%input.search{:placeholder => "Buscar"}
						%span.icon S
		%section.page.container.center
			%nav.side-menu
				%span.title Temas
				%a{:href => "#"} Rails
				%a{:href => "#"} Front End
				%a{:href => "#"} node.js
				%a{:href => "#"} Objective-C
				%a{:href => "#"} Testing
				%a{:href => "#"} Móvil
				%a{:href => "#"} Refinery
				%a{:href => "#"} Rails
				%a.actionbutton{:href => "#"} Escribir Articulo
		%section.news.container
			%h2
				Bienvenido  a li Wiki de
				%b Icalia Labs
				aquí  encontraras articulos de conocimiento.

			%P Escrito por el equipo de Icalia Labs
		.login#modal-login
			.login-container
				%a.close{:ref => "#"} X
				%span Iniciar Sesión
				%input{:type => "text", :placeholder => "Correo"}
				%input{:type => "password", :placeholder => "Contraseña"}
				%input.btn{:type => "submit", :value => "Ingresar"}
		:javascript
			$('#login').click(function() {
				$('#modal-login').show('slow', function() {
				});
			});
			$('.close').click(function() {
				$('#modal-login').hide('slow', function() {
				});
			});

			$('.recomendar').click(function() {
				$('.article-container').addClass('preview') {
				});
			});