!!!
%html
	%head
		%title Icalia Wiki
		%meta{:charset => "utf-8"}
		%link{:rel => "stylesheet", :href => "style.css"}
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
	%body
		.header
			.container.center
				%a.logo{:href => "home.html"}
					%img{:src => "img/logo.png"}
				%nav.header-menu
					%a#login{:href => "#"} Entrar
					.search-box
						%input.search{:placeholder => "Buscar"}
						%span.icon
		%section.page.container.center
			%nav.side-menu
				%span.title Temas
				%a{:href => "#"} Rails
				%a{:href => "#"} Front End
				%a{:href => "#"} node.js
				%a{:href => "#"} Objective-C
				%a{:href => "#"} Testing
				%a{:href => "#"} Móvil
				%a{:href => "#"} Refinery
				%a{:href => "#"} Rails
				%a.actionbutton{:href => "#"} Escribir Articulo
			.article-container
				.header-content
					%img.user-avatar{:src => "img/avatar.jpg"}
					%input.article-title{:type => "text" ,:placeholder => "Ingresa el Título"}
					.recomendation
						%span.counter Save
				.info-article
					%span.leasson Agrega una pequeña descripcion de tu articulo:
					%input.leassons{:type => "textarea", :placeholder => "¿Qué aprendiste o aprenderas al leer este articulo."}
					%input.tags-form{:type => "textarea", :placeholder => "Tags"}
				.article-content
					%textarea{}
				.instructions
					%span Recuerda que puedes utilizar Markdown para estilizar el conenido.
					%br
					%span.feature
						%b Negritas:
						**example**
					%span.feature	
						%b Títulos
						example#
					%span.feature	
						%b Títulos
						example#
					%span.feature	
						%b Títulos
						example#		
				.buttons-publish
					%a.btn.preview{:href => "#"} Previsualizar
					%a.btn.recomendar{:href => "#"} Publicar
		.login#modal-login
			.login-container
				%a.close{:ref => "#"} X
				%span Iniciar Sesión
				%input{:type => "text", :placeholder => "Correo"}
				%input{:type => "password", :placeholder => "Contraseña"}
				%input.btn{:type => "submit", :value => "Ingresar"}
		:javascript
			$('#login').click(function() {
				$('#modal-login').show('slow', function() {
				});
			});
			$('.close').click(function() {
				$('#modal-login').hide('slow', function() {
				});
			});
			$('.preview').click(function() {
				$('.article-container').addClass("flip", function() {
				});
			});